.container {
    text-align: center;
}
.startBtn {
    background-color: red;
    border: none;
    padding: 10px;
    color: #fff;
}
.resetBtn {
    background-color: green;
    border: none;
    padding: 10px;
    color: #fff;
    margin: 10px;
}
.stopBtn {
    background-color: blue;
    border: none;
    padding: 10px;
    color: #fff;
}